html  {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

a{
    text-decoration: none;
}
.container{
    background-color: #f1b1e9;
    height:72px ;
    padding: 0 10px;
    margin: 0 auto;
}
body{
    font-family: 'El Messiri', sans-serif;
    /* font-family: 'Montserrat', sans-serif;  */
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 30px 0 0 0 ;
}
.menu {
    color: #FFFFFF;
    padding: 28px 0 0 0 ;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;
}
.menu__list {
    font-size: 14px;
    color:#FFFFFF;
}
.menu__list:hover {
    color: #C736B9
}
.content {
    margin: 30px 0 0 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.content__list {
    padding: 0 0 10px 0;
    color: black;
}
.content__list:hover {
    color: #C736B9
}
h2 {
    text-align: center; /* Выравнивание текста по центру */
}
.form {
    border-radius: 20px;
    background-color: #eabfe2;
    height: 300px;
    width: 750px; /* Ширина формы */
    margin: 30px auto; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование содержимого */
}

.form label {
    display: block; /* Каждый label на новой строке */
    margin-bottom: 10px; /* Расстояние между label */
}

.form button {
    background-color: black;
    display: block; /* Кнопка на новой строке */
    text-align: center; /* Центрирование содержимого */
    margin: 60px auto; /* Центрирование по горизонтали */
    height:50px ;
    width: 250px;
    border-radius: 50px;
    font-size: 22px;
    color: #FFFFFF;
}
.cont {
    margin: 10px 0 0 0 ;
}
.form input {
    width: 664px;
    height: 52px;
    border-radius: 10px;
    margin: 20px 0 0 0;
}
select {
    width: 664px;
    height: 52px;
    border-radius: 10px;
    margin: 20px 0 0 0;
}
.count__form {
    text-align: center; /* Центрирование содержимого */
}
select {
    border: 1px solid black;
}
.count__btn {
    background-color: #f1b1e9;
    display: block; /* Кнопка на новой строке */
    text-align: center; /* Центрирование содержимого */
    margin: 60px auto; /* Центрирование по горизонтали */
    height:50px ;
    width: 200px;
    border-radius: 50px;
    font-size: 18px;
}
h3 {
    text-align: center; /* Выравнивание текста по центру */
}
.count__int {
    width: 664px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid black;
    display: block; /* Кнопка на новой строке */
    text-align: center; /* Центрирование содержимого */
    margin: 20px auto; /* Центрирование по горизонтали */
}
.form__room{
    border-radius: 20px;
    background-color: #eabfe2;
    height: 550px;
    width: 750px; /* Ширина формы */
    margin: 30px auto; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование содержимого */
}

.form__room label {
    display: block; /* Каждый label на новой строке */
    margin-bottom: 10px; /* Расстояние между label */
}

.form__room button {
    background-color: black;
    display: block; /* Кнопка на новой строке */
    text-align: center; /* Центрирование содержимого */
    margin: 10px auto; /* Центрирование по горизонтали */
    height:50px ;
    width: 250px;
    border-radius: 50px;
    font-size: 22px;
    color: #FFFFFF;
}
.cont__room {
    margin: 10px 0 0 0 ;
}
.form__room input {
    width: 664px;
    height: 52px;
    border-radius: 10px;
    margin: 20px 0 0 0;
}
.form__cho{
    margin: 30px auto; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование содержимого */
}
.block{

    display: flex;
    gap: 100px;
}